<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.reminderly">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission  android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        tools:replace="android:supportsRtl"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".broadcast_receivers.BootCompletedIntentReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".broadcast_receivers.AlarmService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ui.postpone_activity.PostponeActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@style/Theme.Transparent" />

        <receiver
            android:name=".broadcast_receivers.DoneReminderReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".broadcast_receivers.NewReminderReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".ui.calendarActivity.CalendarActivity" />
        <activity android:name=".ui.reminderActivity.ReminderActivity" />
        <activity android:name=".ui.mainActivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>